services:
  db:
    image: mysql:8
    restart: always
    ports:
      - 3307:3306
    environment:
      MYSQL_USER: scheddy
      MYSQL_PASSWORD: scheddy
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: scheddy
    volumes:
      - scheddy-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    ports:
      - 3001:3000
    env_file:
      - .env
    environment:
      # Override database URL to connect to the db service
      SCHEDDY_DATABASE_URL: "mysql://root:root@db:3306/scheddy"
    depends_on:
      db:
        condition: service_healthy

volumes:
  scheddy-data:
